/*	
*	################################################################################
*	
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		kogure13
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2016, 10:41:43 AM
    Author     : Administrator
*/

/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
.rekap-table {
    font-family: serif;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.rekap-table-bordered > thead > tr > th,
.rekap-table-bordered > thead > tr > td,
.rekap-table-bordered > tbody > tr > td,
.rekap-table-bordered > tfoot > tr > th {
    border: 1px solid #111;
}

.rekap-table > thead > tr > th,
.rekap-table > tfoot > tr > th {
    padding: 2px;
    text-align: center;
    line-height: 1.42857143;
    background-color: #a0a0a0;
}

.rekap-table > thead > tr > td,
.rekap-table > tbody > tr > td,
.rekap-table > tfoot > tr > th {
    padding: 2px;    
    line-height: 1.42857143;    
}

